.flex-it {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-width {
  max-width: 900px;
  margin: auto;
  box-sizing: border-box;
  padding: 40px 30px;
}

.page-width.no-container-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.page-width.extra-container-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.text-block-inner {
  max-width: 480px;
}

.image-wrapper img {
  max-width: 100%;
  transition: opacity 275ms ease-in-out, transform 400ms ease-in-out;
  width: 100%;
  opacity: 0;
  transform: translateY(75px);
}

.image-wrapper .visible {
  opacity: 1;
  transform: translateY(0);
}

.image-spacing .image-wrapper {
  padding-top: 5px;
}

@media (min-width: 480px) {
  .flex-it {
    flex-direction: row;
  }

  .page-width:not(.no-container-padding):not(.extra-container-padding) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .page-width.extra-container-padding {
    padding-top: 160px;
    padding-bottom: 160px;
  }

  .block-40 {
    flex: 2;
    padding-right: 30px;
  }

  .block-60 {
    flex: 3;
  }

  .image-spacing .image-wrapper:not(:first-child) {
    padding-left: 5px;
  }
}
